<% include partials/header.ejs %>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">RedPoint</p>
                <div class="list-group">
                    <li class="list-group-item active">Info 1</li>
                    <li class="list-group-item">Info 2</li>
                    <li class="list-group-item">Info 3</li>
                </div>
            </div>

            <div class="col-md-9">
                <div class="thumbnail">
                        <img class="img-responsive" src="<%= restaurant.restaurantImage %>">
                        <div class="caption-full">
                            <h4 class="pull-right">
                                ￥2000-3000／人
                            </h4>
                            <h2><a><%= restaurant.restaurantName %></a></h2>
                            <p><%= restaurant.description %></p>
                            <p>
                                <em>页面创建者： <%= restaurant.author.username %></em>
                            </p>
                            <% if(currentUser && restaurant.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-warning" href="/restaurants/<%= restaurant._id %>/edit">编辑内容</a>
                                <form id="deleteForm" action="/restaurants/<%= restaurant._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">删除该页面</button>
                                </form>
                            <% } %>
                        </div>
                </div>
                <div class="well">
                    <div class="text-right">
                        <a class="btn btn-success" href="/restaurants/<%= restaurant._id %>/comments/new">添加评论</a>
                    </div>
                    <hr>
                    <% restaurant.comments.forEach(function(comment){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <%= comment.author.username %>
                                <span class="pull-right">1天前</span>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <a class="btn btn-xs btn-warning" 
                                   href="/restaurants/<%= restaurant._id %>/comments/<%= comment._id %>/edit">
                                   编辑评论
                                </a>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
       
<% include partials/footer.ejs %>